.imagen {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 2px solid rgb(32, 101, 148);
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    overflow: hidden;    
}